/*Styles for index page*/
body{
    background-color: rgb(46, 46, 46);
    color: azure;
}

.headerContainer{
    background-color: rgb(78, 78, 78);
}
.indexTitle{
    text-align: center;
    font-size: 3em;
}

/*All video containers CSS*/
.physicsContainer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DGCContainer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}